/* General body styling */
body {
    background-color: #EFE1E1;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  /* Title and instruction styles */
  .title-text {
    font-size: 80px;
    color: #ff8b9e;
    text-align: center;
    margin-top: 20px;
  }
  
  .goal-text, .howtoplay-text {
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 20px;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #433878;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  #game {
    display: grid;
    grid-template-columns: repeat(30, 40px);
    grid-template-rows: repeat(16, 40px);
    gap: 0;
    background-color: #433878;
  }
  
  .wall {
    background-color: #E4B1F0;
    width: 40px;
    height: 40px;
  }
  
  .path {
    background-color: #433878;
    width: 40px;
    height: 40px;
  }
  
  .collectible, .power-pellet {
    margin: auto;
    border-radius: 50%;
  }
  
  .collectible {
    background-color: #FFE1FF;
    width: 10px;
    height: 10px;
  }
  
  .power-pellet {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
  }
  
  #sprite {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37px;
    height: 37px;
    z-index: 10;
  }
  
  .timer-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .timer-box {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    border: 2px solid #ae00ff;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Press Start 2P', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .controls {
    text-align: center;
    margin: 20px 0;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #433878;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5a4a99;
  }
  

